@function rem($px) {
    @return $px/40;
}

@function ax($px) {
    @if type-of($px)==number {
        @return $px/40+rem;
    }
    @else {
        @return $px;
    }
}
@mixin aWH($width:auto, $height:auto) {
    width:ax($width);
    height:ax($height);
    
} 
body{
    background-color: bisque;
}
.btn-1{
   @include aWH(124,60);
    background: url(./images//button1.png?sp_1);
    background-repeat: no-repeat;
    background-size:cover;  
}
.btn-2{
    @include aWH(145,64);
    background: url(./images//button2.png?sp_1);
    background-repeat: no-repeat;
    background-size:cover;  
}
.btn-3{
    @include aWH(130,60);
    background: url(./images//button3.png?sp_2);
    background-repeat: no-repeat;
    background-size:cover;  
}
.btn-4{
    @include aWH(130,60);
    background: url(./images//button4.png?sp_2);
    background-repeat: no-repeat;
    background-size:cover;  
}
.icon-1{
    @include aWH(161,161);
    background: url(./images//icon1.png?sp_2);
    background-repeat: no-repeat;
    background-size:cover;  
}
.icon-2{
    @include aWH(161,161);
    background: url(./images//icon2.png);
    background-repeat: no-repeat;
    background-size:cover;  
}
.icon-3{
    @include aWH(161,161);
    background: url(./images//icon3.png);
    background-repeat: no-repeat;
    background-size:cover;  
}
.icon-4{
    @include aWH(161,161);
    background: url(./images//icon4.png);
    background-repeat: no-repeat;
    background-size:cover;  
}