@import "@/style/index.scss"; 
 
body{
    background-color: bisque;
}
.btn-1{
   @include aWH(124,60);
    background: url(./images//button1.png?sp_1);
    background-repeat: no-repeat;
    background-size:cover;  
}
.btn-2{
    @include aWH(145,64);
    background: url(./images//button2.png?sp_1);
    background-repeat: no-repeat;
    background-size:cover;  
}
.btn-3{
    @include aWH(130,60);
    background: url(./images//button3.png?sp_2);
    background-repeat: no-repeat;
    background-size:cover;  
}
.btn-4{
    @include aWH(130,60);
    background: url(./images//button4.png?sp_2);
    background-repeat: no-repeat;
    background-size:cover;  
}
.icon-1{
    @include aWH(161,161);
    background: url(./images//icon1.png?sp_3);
    background-repeat: no-repeat;
    background-size:cover;  
}
.icon-2{
    @include aWH(161,161);
    background: url(./images//icon2.png?sp_3);
    background-repeat: no-repeat;
    background-size:cover;  
}
.icon-3{
    @include aWH(161,161);
    background: url(./images//icon3.png?sp_5);
    background-repeat: no-repeat;
    background-size:cover;  
}
.icon-4{
    @include aWH(161,161);
    background: url(./images//icon4.png?sp_5);
    background-repeat: no-repeat;
    background-size:cover;  
}
.icon-11{
    @include aWH(161,161);
    background: url(./images//icon11.jpg?sp_5);
    background-repeat: no-repeat;
    background-size:cover;  
}
.icon-22{
    @include aWH(161,161);
    background: url(./images//icon22.jpg?sp_5);
    background-repeat: no-repeat;
    background-size:cover;  
}
.icon-33{
    @include aWH(161,161);
    background: url(./images//icon33.jpg?sp_4);
    background-repeat: no-repeat;
    background-size:cover;  
}
.icon-44{
    @include aWH(161,161);
    background: url(./images//icon44.jpg?sp_4);
    background-repeat: no-repeat;
    background-size:cover;  
}